{% extends 'base.html' %}
{% block content %}
    <h1>Shopping List Page</h1>

    <h5>Name:</h5>
    <p>{{name}}</p>

    <h5>Class:</h5>
    <p>{{class}}</p>
    
        {% comment %} Below is how to show the product data {% endcomment %}
    <div class="products">
        <div class="container">
            <div class="row gy-3">
                {% for product in products %}
                <div class="col-md-4">
                <div class="card text-white bg-info mb-3">
                    <div class="card-header">{{product.name}}</div>
                    <div class="card-body">
                      <h5 class="card-title">{{product.amount}}</h5>
                      <p class="card-text">{{product.description}}</p>
                      <a href="{% url 'main:edit_product' product.pk %}">
                        <button>
                            Edit
                        </button>
                    </a>
                    <a href="{% url 'main:delete_product' product.pk %}">
                          <button>
                              Delete
                          </button>
                      </a>
                    </div>
                  </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <h5>Last login session: {{ last_login }}</h5>
    <br />
    
    <a href="{% url 'main:create_product' %}">
        <button>
            Add New Product
        </button>
    </a>
    
    {% endblock content %}







